/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS

  Sky
    rgb(52, 152, 219)

  Dark Blue
    rgb(44, 62, 80)

  Grey
    rgb(127, 140, 141)

  Cloud
    rgb(236, 240, 241)
*/

#thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

/* added small black border */

.background--skyBlue {
  background-color: rgb(52, 152, 219);
  border-color: #ccc;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  margin: 10px 5px;
}

.color--skyBlue {
  color: rgb(52, 152, 219);
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

.section__example {
  background-color: rgb(44, 62, 80);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/

html {
  font-size: 45%;
}

body {
  font-family: 'Cambria', serif;
  background-color: #e5e5e5;
/*  margin: 0 auto; */
  min-width: 750px;
  min-height: min-content;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}

a:link {
  color: rgb(52, 152, 219);
  text-decoration: none;
}

a:visited {
  color: #3445db;
  text-shadow: 1px 1px 2px black;
}

/*
  Helpers
*/

.margin--none {
  margin: 0;
}

.overflow--auto {
  overflow: auto;
}


/*
  Sections
*/

/* Controls height of section block */

.section {
  font-size: 4.5rem;
  min-height: 7vh;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section--alignCentered {
  text-align: center;
}

.section--alignLeft {
  text-align: left;
}

.section--alignFull {
  text-align: justify;
  hyphens:auto;
}

.section--description {
  font-size: 2.9rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 2rem 2rem;
  outline-style: solid;
  outline-width: 1px;
}

.section__description {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 95%;
  padding: 1rem
}

.section__text--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px
}

/* Controls size of example circles */

.section__exampleWrapper,
.section__example {
  display: inline-block;
  height: 25rem;
  width:  25rem;
  border-color: black;
  border-width: 5px;
  border-radius: 90%;
}

.section__exampleWrapper {
  margin: 1.5rem;
}

.section__example {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.section__example:active {
  transition: 0.05s all;
  width: 34rem;
  height: 34rem;
}

/* Control Project Text size inside of circle */

.section__exampleTitle {
  font-size: 3.0rem;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.section__exampleImage {
  opacity: 0.40;
  width: 250%;
  margin-left: -50%;
  margin-top: -50%;
}

/*
  Header
*/

.section__heading--largest {
  float: left;
  font-size: 5rem;
  margin-left: 2rem;
  word-wrap: normal;
}

.section--social {
  float: right;
  line-height: 8.5rem;
  margin-right: 2rem;
}

.social {
  margin-right: 0.75rem;
}

.socialWrapper:last-child .social {
  margin-right: 0;
}

.socialWrapper {
  display: inline-block;
  font-size: 6rem;
}


/*
  Modal
*/

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 20;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85%;
  z-index: 100;
}

.modal__closeButton {
  position: absolute;
  right: 2rem;
  top: 5rem;
  font-size: 5rem;
  z-index: 10;
  curson: pointer;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3.2rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.modal__image {
  opacity: 0.2;
}
