/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS

  Sky
    rgb(52, 152, 219)

  Dark Blue
    rgb(44, 62, 80)

  Grey
    rgb(127, 140, 141)

  Cloud
    rgb(236, 240, 241)

  Indian Red
    #C95D63

  Cadmium Orange
    #EE8434

  Palantine Blue
    #3445DB
*/

/* Border box global fix */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*  General Styles */

html {
  font-size: 40%;
  margin: 0;
  padding: 0;
  background-color: darkgrey;
}

body {
  font-family: 'Noto Serif', serif;
  background: #e5e5e5;
  margin: 0 auto;
  width: 90%;
  min-width: 630px;
  max-width: 900px;
  min-height: min-content;
}

nav {
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  /* background: darkgrey; */
  background: linear-gradient(rgba(169, 169, 169, 0.4), rgba(169, 169, 169, 0.9));
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  text-transform: capitalize;
}

a:hover {
  font-weight: bolder;
}

/* Control link appearance */

a:link {
  color: #C95D63;
  text-decoration: none;
}

a:visited {
  color: #C95D63;
  text-shadow: 1px 1px 2px black;
}

nav a:link,
nav a:visited {
  color: #3445DB;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2rem;
}

/* FontAwesome fonts */

.fas,
.fab {
  font-size: 6rem;
}

/* Color specific styles */

.background--skyBlue {
  background-color: rgb(52, 152, 219);
}

.background--cadmium {
  background-color: #EE8434;
}

.backgroundcolor--cadmium {
  background-color: #EE8434;
}

.color--palintineBlue {
  color: #3445DB;
}
.color--indianRed {
  color: #C95D63;
}

.color--skyBlue {
  color: rgb(52, 152, 219);
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

.section__example {
  background-color: rgb(44, 62, 80);
}

/* Styles used in header section */

.section__heading--largest {
  float: left;
  font-size: 5rem;
  margin-left: 1rem;
  word-wrap: normal;
}

.section--social {
  float: right;
  margin-top: 2rem;
  margin-right: 1rem;
}

.social {
  margin-right: 0.75rem;
}

.socialWrapper:last-child .social {
  margin-right: 0;
}

.socialWrapper {
  display: inline-block;
}

/* Styles used in intro section */

/* Add photo to left of introductory remarks */

.headshot {
  width: 180px;
  float: left;
  margin-right: 10px;
  border: 1px solid darkgrey;
  border-radius: 4px;
}

.name {
  font-family: 'Noto Serif', serif;
  letter-spacing: .1rem;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

.certs {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

/*  Helpers Styles */


.margin--none {
  margin: 0;
}

.overflow--auto {
  overflow: auto;
}

/*  Sections */

/* Controls appearance of Portfolio and About Me sections */

.section {
  font-size: 4.5rem;
  min-height: 10vh;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-color: #ccc;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  margin: 20px 5px;
}

/* Text alignment styles */

.section--alignCentered {
  text-align: center;
}

.section--alignLeft {
  text-align: left;
}

.section--alignFull {
  text-align: justify;
  hyphens: auto;
}

/* Controls appearance of Intro and About Me content */

.section--description {
  font-size: 2.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2rem 2rem;
  min-height: 220px;
}

/* Controls About and Portfolio section separator content */

.section__text--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
}

/* Controls appearance of Contact Me section */

.section__contact {
  font-size: 3rem;
  margin: 3rem;
}

/* Used for footer */

.section__footer {
  position: relative;
  padding: 2px 20px;
  text-align: center;
  margin: 5px 20px;
  background: linear-gradient(rgba(169, 169, 169, 0.3), rgba(169, 169, 169, 0.7));
}

/* Used for footer text */

.weak--text {
  font-size: 2.2rem;
  font-weight: 200;
  font-style: oblique;
}

/* Controls size of example circles */

.section__exampleWrapper,
.section__example {
  display: inline-block;
  height: 20rem;
  width:  20rem;
  border-color: black;
  border-width: 5px;
  border-radius: 50%;
}

.section__exampleWrapper {
  margin: 1.5rem;
}

.section__example {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.section__example:active {
  transition: 0.05s all;
  width: 24rem;
  height: 24rem;
}

/* Control Project Text size inside of circle */

.section__exampleTitle {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  width: 90%;
}

.section__exampleImage {
  opacity: 0.30;
  width: 250%;
  margin-left: -50%;
  margin-top: -50%;
  margin-left: auto;
  margin-right: auto;
}

/*  Modal */

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 20;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  height: 80%;
  z-index: 100;
}

.modal__closeButton {
  position: absolute;
  right: 5rem;
  top: 5rem;
  font-size: 7rem;
  z-index: 10;
  cursor: pointer;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3.2rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.modal__image {
  opacity: 0.15;
  /* background-size: cover; */
}

/* Use to provide a shadow box around a section */

#thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
